/* Add CSS Styling */

.odd{
    background-color: rgb(248, 169, 181);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#two{
    color: hsl(240, 96%, 49%);
    font-size: 36px;
}

.three{
    font-size: 24px;
}

#four{
    background-color: #85eb85;
    font-weight: bold;
    font-size: 24px;
}