/* Add CSS Styling */

.black-btn{
    background-color: #000000;
    color: white;
}

.yellow-btn{
    background-color: rgb(255, 255, 0);
}

.black-btn, .yellow-btn{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}